.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.galeria__imagem{
    width: 90%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

@media screen and (min-width: 767px) {
    .galeria{
        flex-direction: row;
        justify-content: space-around;
        margin: 6rem;
    }

    .galeria__imagem{
        width: 35%;
    }
}