.sobre-nos{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.sobre-nos__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.sobre-nos__imagem{
    width: 30%;
    margin-bottom: 1rem;
}

.sobre-nos__txt{
    text-align: center;
    color: var(--preto);
}

@media screen and (min-width: 767px) {
    .sobre-nos{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 4rem;
    }

    .sobre-nos__card{
        width: 30%;
    }

    .sobre-nos__imagem{
        width: 100px;
    }
}